#GettingHereFSBuses_hero_slide {
    margin-top: 8px;
    width: 100%;
    height: 617px;
    background: url(../images/GettingHereFSBuses_1.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 124px;
    @media (max-width: $screen-md-max) {
        margin-top: -10px;
        height: 482px;
    }
    .container {
        position: relative; // overflow: hidden;
    }
    .tab_bar_box {
        overflow: hidden;
        height: 43px;
        @media (max-width: $screen-sm-max) {
            overflow: none;
            height: auto;
        }
    }
    img {
        width: 100%;
    }
    .get-content-show{
        cursor: pointer;
    }
    .get_group {
        width: 320px;
        // height: 220px;
        background: #fff;
        padding: 16px 20px 0px 20px;
        position: absolute;
        right: 0px;
        top: 126px;
        padding-bottom: 10px;
        @media (max-width: $screen-xs-max) {
            display: none;
        }
        h4 {
            font-size: 14px;
            color: #343434;
            span {
                margin-left: 13px;
            }
        }
        .get_h_bottom {
            width: 100%;
            height: 1px;
            background: #dddddd;
            margin-top: 23px;
            margin-bottom: 14px;
        }
        .get_left {
            width: 232px;
            float: left;
            form {
                p {
                    position: relative;
                    width: 232px;
                    margin-top: 6px;
                    span {
                        position: absolute;
                        top: 9px;
                        left: 9px;
                        color: #bbb;
                    }
                    input {
                        width: 100%;
                        height: 32px;
                        background: #efefef;
                        border: none;
                        outline: none;
                        padding-left: 33px;
                    }
                }
            }
            p {
                margin-top: 17px;
                img {
                    width: 14px;
                    margin-right: 12px;
                    margin-top: -4px;
                }
                span {
                    font-size: 15px;
                    color: #828181;
                    margin-right: 19px;
                }
            }
        }
        .get_right {
            float: right;
            span {
                cursor: pointer;
                font-size: 19px;
                margin-top: 50px;
                margin-right: 5px;
                color: #bbb;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -moz-transform: rotate(90deg);
                /* Firefox */
                -webkit-transform: rotate(90deg);
                /* Safari 和 Chrome */
                -o-transform: rotate(90deg);
                /* Opera */
            }
        }
    }
    .tab_bar {
        width: 100%; // border-bottom: 1px solid #000;
        height: 40px;
        margin: 0px;
        background-color: transparent;
        li {
            float: left;
            width: 11%;
            text-align: center;
            line-height: 40px;
            list-style: none;
            display: block;
            height: 42px;
            border-bottom: 1px solid #fff;
            &:nth-child(1) {
                position: relative;
                &:before {
                    content: '';
                    width: 200px;
                    position: absolute;
                    left: -200px;
                    bottom: -1px;
                    border-bottom: 1px solid #fff;
                    @media (max-width: $screen-sm-max) {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                position: relative;
                &:after {
                    content: '';
                    width: 2000px;
                    position: absolute;
                    left: 130px;
                    bottom: -1px;
                    border-bottom: 1px solid #fff;
                    @media (max-width: $screen-sm-max) {
                        display: none;
                    }
                }
            }
            span {
                display: none;
            }
            a {
                text-decoration: none;
                font-size: 16px;
                color: #fff;
            }
        }
        .tab_bar_m {
            display: none;
        }
        .active {
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff; // margin-top: -2px;
            background-color: transparent;
            border-bottom-color: transparent;
            a {
                font-size: 20px;
                color: #fff;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        .tab_bar {
            border: none;
            height: auto;
            padding: 0 12px;
            li {
                height: 36px;
                border: none;
                border-bottom: 1px solid #fff;
                line-height: 36px;
                float: none;
                width: 100%;
                span {
                    display: inline-block;
                    color: #fff;
                    position: absolute;
                    right: 15px;
                    top: 10px;
                }
            }
            #tab_show {
                border: none;
                border-bottom: 1px solid #fff;
                display: block;
                position: relative;
            }
            .m_show {
                display: none !important;
            }
        }
    }
}

