#entertainment_startConcert{
	@extend #entertainment_advantages_1;
	margin: 80px 0;
  @media (max-width: 767px){
    margin:40px 0;
  }
	.inner{
		text-align: left;
    h5{
      margin-bottom: 16px;
      line-height: 28px;
    }
    p{
      margin:6px 0 !important;
    } 
		a{
      margin-top: 8px;
      display: inline-block;
    }
	}
}