#grd_highlights_50 {
     @media (max-width:991px) {
        margin-top: 33px;
     }
    .row {
        .logo{
            img{
                width:100%;
            }
        }
        .detail {
            margin-bottom: 34px;
            padding: 0px 15px;
            overflow: hidden;
            // @media (min-width: $screen-lg-min) {
            //     .logo {
            //         width:100%;
            //         img {
            //             width: 100%;
            //         }                    }
            //     }
            // }
            // @media(max-width:$screen-sm-max) {
            //     .logo {
            //         width: 100%;
            //         img {
            //             width: 100%;
            //             height: 100%;
            //         }
            //     }
            // }
            h4 {
                margin-top: 30px;
            }
        }
    }
}