.shop_details_thumbnail_slider
{

	
	
	.thumslider
	{
		position:relative;
	}

	width:100%;
	float:left;
	margin-bottom:30px;
	&.slides,.img 
	{
		width:100%;
		float:left;
	}
	.thum-control-thumbs
	{
		background:rgba(0,0,0,0.4);
		padding: 10px 0 5px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		margin:0;
		float: left;
		text-align:center;
		li
		{
			display:inline-block;
			margin:0 5px;
			@media screen and (max-width: $screen-sm-max)
			{
				  width: 16%;
			}
			img
			{
				border:1px solid rgba(0,0,0,0);
				width:100%;
				float:left;
				cursor:pointer;
				&.thum-active
				{
					border:1px solid #997542;
				}
			}
		}
	}

	.slides,
	.slides > li,
	
	
	{
		  margin: 0;
		  padding: 0;
		  overflow:hidden;
		  list-style: none;
	}

	.slide-bg
	{
		position:relative;
		width:100%;
	} 
	.thum-direction-nav 
	{ 
		display:none;
	}
}




