#restaurantDPwhiteSV_explain {
    @media (max-width: 991px) {
        margin: 38px 0!important;
    }
    margin: 78px 0 0 0 !important;
    @extend #entertainment_startConcert;
    @media (max-width: 991px) {
        margin: 10px 0;
    }
    .exp_last{
        margin-top: 78px;
        @media (max-width :991px) {
            margin-top: 44px;
        }
    }
    .row{
        .exp_div{
            h4{
                text-align: center;
                font-size: 16px;
                margin-bottom: 30px;
                color: #333333;
                @media (max-width: 991px) {
                    margin-bottom: 14px;
                }
            }
            h3{
                 @media (max-width: 991px) {
                     margin-bottom: 12px;
                 }
            }
        }
    }
    .swiper-container {
        @media (min-width: 991px) {
            padding-right: 10px;
        }
    }
    @media (max-width:991px) {
        .swiper-container {
            // padding-bottom: 40px;
        }
    }
    .detail {
        .inner {
            h5{
                // font-weight: 600;
            }
            a{
                margin-top: 24px;
                font-size: 14px;
                text-decoration: underline;
                color: #987644;

            }
            .exp_a_none{
                @media (max-width: 991px) {
                    display: none;
                }
            }
            p:nth-child(2) {
                letter-spacing: 1px;
                font-size: 14px;
                line-height: 25px;
                @media (max-width: $screen-xs-max) {
                    letter-spacing: 0.4px;
                }
            }
        }
        @media only screen and (max-width: 992px) {
            margin-top: 5%;
        }
        @media (max-width: $screen-xs-max) {
            margin-top: 0px;
        }
        @media (min-width: 993px) {
            margin-top: 5%;
            padding-left: 48px;
        }
        @media (min-width: $screen-lg-min) {
            margin-top: 20%;
        }
    }
    .discover-show {
        margin: 30px 0 0 -15px;
        @extend #discover_articles;
        @media (max-width: 991px) {
            margin-left: 0;
        }
    }
}