#thank{
    .row{
        margin-top: 216px;
        margin-bottom: 248px;
        >div{
            text-align: center;
            img{
                display: inline-block;
                width: auto;
            }
            h2{
                display: inline-block;
                margin: 0px;
                vertical-align: middle;
                font-size: 50px;
                color: #343434;
            }
            span{
                display: block;
                margin-top: 32px;
                color: #343434;
                font-size: 22px;
            }
        }
    }
    @media(max-width:$screen-sm-max){
        .row{
            margin-top: 90px;
            margin-bottom: 10px;
            >div{
                padding: 0 50px;
                img{
                    width: 24%;
                }
                h2{
                    font-size: 25px;
                }
                span{
                    font-size: 18px;
                    line-height: 28px;
                    margin-top: 40px;
                }
            }
        }   
    }
}