#common_content{
  margin: 220px auto 60px;
  @media (max-width: $screen-xs-max) {
    padding: 0 12px;
    margin: 120px auto 30px;
  }
  .cc_h1{
    font-size: 50px;
    margin:0 0 35px;
    @media (max-width: $screen-xs-max) {
      font-size: 40px;
      margin:0 0 25px;
    }
  }
  .cc_h3{
    margin:0 0 22px;
    @media (max-width: $screen-xs-max) {
      margin:0 0 15px;
    }
  }
  .cc_p{
    font-size: 16px;
    line-height: 30px;
    color: #343434;
  }
}