#VideoPopup_treatment {
    margin-top: 68px;
    @media (max-width: 991px) {
        margin-top: 35px;
    }
    @extend #hotel_more; // .container{
    // @media (min-width: $screen-sm-min) {
    //     width: 768px;
    //   }
    //   @media (min-width: $screen-md-min) {
    //     width: 988px;
    //   }
    //   @media (min-width: $screen-lg-min) {
    //     width: 1188px;
    //   }
    // }
    h3 {
        margin-bottom: 30px;
        @media (max-width: 767px) {
            margin:0 15px 15px;
        }
    }
    .row {
        >div {
            padding: 0 15px; // margin-bottom: 30px;
            .img {
                overflow: hidden;
                display: block;
                img {
                    transition: .3s;
                    @media (max-width: 767px) {
                        width:100%;
                    }
                    display: inline-block;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            @media (max-width: 500px) {
                width: 100%;
                margin-bottom: 12px;
                padding: 0;
            }
        }
    }
    .caption {
        padding-left: 20px !important;
        padding-right: 15px !important;
        p {
            line-height: 22px;
            letter-spacing: 2px;
            margin-bottom: 0px;
        }
        a {
            display: block;
            padding-top: 18px;
        }
    }
    .img-responsive {
        width: 100%;
    }
}