#VideoPopup_info {
    // margin-top: 1028px;
    @media (max-width: $screen-xs-max) {
        margin-top: 38px !important;
    }
    .container {
        p {
            letter-spacing: 1px;
            font-size: 16px;
            line-height: 30px;
            padding: 0 19px;
        }
        .row {
            margin-top: 40px;
            padding: 0 10px;
            div {
                color: #6a6a6a;
                font-size: 14px;
                span {
                    display: block;
                }
                span:nth-child(1) {
                    display: inline-block;
                    font-size: 48px;
                    font-weight: 600;
                    color: #343434;
                    margin-right: 6px;
                }
                span:nth-child(2){
                    font-size: 16px;
                    color: #343434;
                }
                span:nth-child(3) {
                    display: block;
                    font-weight: normal; // margin-bottom:22px;
                    line-height: 32px;
                    color: #adadad;
                    margin-top: 10px;
                    font-size: 14px;
                }
                text-align: center;
            }
        }
        @media (max-width: $screen-xs-max) {
            .row {
                margin-top: 0px;
                div {
                    font-size: 12px;
                    margin-top: 28px;
                    span:nth-child(1) {
                        font-size: 22px;
                        margin-right: 3px;
                    }
                    span:nth-child(3){
                        margin-top: 0px;
                        padding: 0 8px;
                    }
                }
            }
        }
    }
}