#rewards_icon {
    margin-top: 24px;
    @media (max-width: $screen-xs-max) {
        padding: 0 15px;
    }
    .row {
        margin-top: 32px;
        @media (max-width: $screen-xs-max) {
            margin-top: 0px;
        }
        .all_box {
            //    height: 79px;
            margin-top: 24px; //    overflow: hidden;
            
            @media(max-width:$screen-md-max){
                &:nth-child(odd) {
                clear: both;
            }
            }
            @media (max-width: $screen-xs-max) {
                padding-left: 0px;
                display: table;
                height: 100%;
                margin-top: 0px;
            }
            &:nth-child(1) {
                padding-left: 0px;
            }
            &:nth-child(2) {
                img {
                    // margin-top: 13px;
                    @media (max-width: $screen-xs-max) {
                        margin-top: 0px;
                    }
                }
            }
            .icon_img_box {
                width: 70px;
                height: 70px;
                float: left;
                @media (max-width: $screen-xs-max) {
                    text-align: center;
                    line-height: 70px;
                    padding-top: 0px;
                }
                img {
                    max-width: 70px;
                    height: auto;
                    max-height: 70px;
                    @media (max-width: $screen-xs-max) {
                        max-width: 40px;
                        max-height: 40px;
                    }
                }
            }
            .rewards_icon_box {
                // float: left;
                overflow: hidden;
                padding-left: 30px; // padding-top: 24px;
                @media (max-width: $screen-xs-max) {
                    display: table-cell;
                    vertical-align: middle;
                    float: none;
                }
                h4 {
                    font-size: 16px;
                    color: #343434;
                    @media (max-width: $screen-xs-max) {
                        font-size: 12px;
                    }
                }
                p {
                    margin-top: 8px;
                    font-size: 14px;
                    line-height: 25px;
                    max-width: 270px;
                    @media (max-width: $screen-xs-max) {
                        font-size: 12px;
                        line-height: 20px;
                        margin-top: 6px;
                    }
                }
                @media (max-width: $screen-xs-max) {
                    padding-top: 0px;
                    padding-left: 0px;
                    width: 100%;
                    padding-left: 16px;
                }
            }
        }
    }
    @media(max-width:$screen-sm-max) {}
}