#rewards_card{
    margin-top: 40px;
    @media(max-width:$screen-xs-max){
        padding: 0 15px;
        margin-top: 0px;
    }
    .container{
        .row{
            div{
                text-align: left;
                @media(max-width:$screen-xs-max){
                    &:nth-child(1){
                        padding-right: 12px;
                    }
                    &:nth-child(2){
                        padding-left: 12px;
                    }
                }
                img{
                    width: 154px;
                    height: auto;
                    @media(max-width:$screen-xs-max){
                        width: 100%;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 30px;
                    color: #343434;
                    margin-top: 0px;
                    letter-spacing: 0.8px;
                    // margin-left: -15px;
                    @media(max-width:$screen-xs-max){
                        margin: 0px;
                        font-size: 15px;
                        line-height: 25px;
                    }
                    
                }
            }
        }
        @media(max-width:$screen-sm-max){

        }
    }
}