        #contactUs_content {
            margin-top: 78px;
            @media(max-width: $screen-sm-max) {
                padding: 0 12px;
                margin-top: 41px;
                margin-bottom: 38px;
            }
            .container {
                .row {
                    .contUs_left {
                        // padding-left: 6%;
                        box-sizing: border-box;
                        .contUs_box {
                            margin-top: 75px;
                            @media(max-width: $screen-sm-max) {
                                margin-top: 20px;
                            }
                            &:nth-child(1) {
                                margin-top: 0px;
                            }
                            h4 {
                                font-size: 22px;
                                color: #343434;
                                @media(max-width: $screen-sm-max) {
                                    font-size: 20px;
                                    font-weight: 600;
                                    margin-bottom: 10px;
                                }
                            }
                            span {
                                display: block;
                                font-size: 16px;
                                margin-top: 16px;
                                @media(max-width: $screen-sm-max) {
                                    font-size: 15px;
                                    line-height: 25px;
                                    margin-top: 0px;
                                    a {
                                        font-size: 15px;
                                        line-height: 25px;
                                    }
                                }
                                a {
                                    font-size: 16px;
                                    color: #997644;
                                }
                            }
                        }
                    }
                    .contUs_right {
                        @media(max-width: $screen-sm-max) {
                            margin-top: 20px;
                        }
                        h4 {
                            font-size: 22px;
                            color: #343434;
                            @media(max-width: $screen-sm-max) {
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }
                        span {
                            display: block;
                            font-size: 16px;
                            color: #343434;
                            margin-top: 20px;
                            @media(max-width: $screen-sm-max) {
                                font-size: 15px;
                                margin-top: 16px;
                            }
                        }
                        .contUs_select {
                            width: 100%;
                            margin-top: 28px;
                            position: relative;
                            @media(max-width: $screen-sm-max) {
                                margin-top: 16px;
                            }
                            .ico_box {
                                position: absolute;
                                top: 8px;
                                left: 10px;
                                img {
                                    display: inline-block;
                                    margin-right: 10px;
                                      @media(max-width: $screen-sm-max){
                                          margin-top: 3px;
                                      }
                                }
                                span {
                                    margin-top: 0px;
                                    display: inline-block;
                                    width: 70px;
                                    vertical-align: top;
                                    text-align: justify;
                                    overflow: hidden;
                                    height: 100%;
                                    -moz-text-align-last: justify;
                                    text-align-last: justify;
                                    &:after {
                                        display: inline-block;
                                        content: '';
                                        overflow: hidden;
                                        width: 100%;
                                        height: 0;
                                    }
                                    @media(max-width: $screen-sm-max) {
                                        font-size: 15px;
                                        width: 65px;
                                    }
                                }
                            }
                            select {
                                width: 100%;
                                border: 1px solid #bbbbbb;
                                color: #bbbbbb;
                                font-size: 16px;
                                height: 36px;
                                outline: none;
                                padding-left: 122px;
                                @media(max-width: $screen-sm-max) {
                                    height: 34px;
                                    padding-left: 120px;
                                    font-size: 15px;
                                }
                            }
                        }
                        .contUs_input {
                            width: 100%;
                            form {
                                position: relative;
                                margin-top: 19px;
                                @media(max-width: $screen-sm-max) {
                                    margin-top: 14px;
                                }
                                .ico_box {
                                    position: absolute;
                                    top: 8px;
                                    left: 10px;
                                    @media(max-width: $screen-sm-max){
                                        top: 10px;
                                    }
                                    img {
                                        display: inline-block;
                                        margin-right: 10px;
                                          @media(max-width: $screen-sm-max){
                                              margin-top: -4px;
                                          }
                                    }
                                    span {
                                        margin-top: 0px;
                                        display: inline-block;
                                        width: 70px;
                                        vertical-align: top;
                                        text-align: justify;
                                        overflow: hidden;
                                        height: 100%;
                                        -moz-text-align-last: justify;
                                        text-align-last: justify;
                                        &:after {
                                            display: inline-block;
                                            content: '';
                                            overflow: hidden;
                                            width: 100%;
                                            height: 0;
                                        }
                                        @media(max-width: $screen-sm-max){
                                            width: 65px;
                                            line-height: 15px;
                                        }
                                    }
                                }
                                input {
                                    width: 100%;
                                    border: 1px solid #bbbbbb;
                                    color: #343434;
                                    font-size: 16px;
                                    height: 36px;
                                    outline: none;
                                    padding-left: 127px;
                                    @media(max-width: $screen-sm-max) {
                                        height: 34px;
                                        padding-left: 120px;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                        textarea {
                            width: 100%;
                            height: 177px;
                            border: 1px solid #bbbbbb;
                            outline: none;
                            margin-top: 24px;
                            padding-top: 10px;
                            padding-left: 10px;
                            font-size: 16px;
                            color: #343434;
                            resize: none;
                              @media(max-width: $screen-sm-max){
                                  height: 170px;
                                  margin-top: 15px;
                                  padding-top: 11px;
                                  padding-left: 15px;
                                  font-size: 15px;
                                  resize: auto;
                                  overflow: auto;
                                  
                              }
                        }
                        .contUs_cheack {
                            margin-top: 26px;
                              @media(max-width: $screen-sm-max){
                                  margin-top: 16px;
                              }
                            input {
                                display: block;
                                float: left;
                                margin-right: 9px;
                                margin-top: 7px;
                                  @media(max-width: $screen-sm-max){
                                      margin-right: 7px;
                                      margin-top: 6px;
                                  }
                            }
                            p {
                                overflow: hidden;
                                margin-top: 0px;
                                font-size: 16px;
                                line-height: 30px;
                                color: #343434;
                                  @media(max-width: $screen-sm-max){
                                      font-size: 15px;
                                      line-height: 25px;
                                  }
                                  a{
                                      color: #343434;
                                      font-size: 16px;
                                      text-decoration: underline;
                                       @media(max-width: $screen-sm-max){
                                           font-size: 15px;
                                       }
                                  }
                            }
                        }
                        .btn_box {
                            width: 100%;
                            margin-top: 48px;
                            text-align: center;
                            .btn {
                                width: 298px;
                                height: 48px;
                                border: 1px solid #987543;
                                text-align: center;
                                font-size: 22px;
                                line-height: 48px;
                                color: #987543;
                                &:hover{
                                    background-color: #987543;
                                    color: #fff;
                                }
                            }
                              @media(max-width: $screen-sm-max){
                                  margin-top: 23px;
                                  .btn{
                                      width: 304px;
                                      height: 35px;
                                      font-size: 18px;
                                      line-height: 35px;
                                  }
                              }
                        }
                    }
                }
            }
        }