#wedding_recommend{
  @media (max-width:991px){
    margin-top: 20px;
  }
  @extend #wedding_more;
  .img{
    img{display: inline-block !important;}
  }
  margin-top: 50px;
  .swiper-container-wrapper{
    .control{
      @media (max-width:991px){
        top: 55%;
      }
      @media (max-width:767px){
        top: 60%;
      }
    }
  }
}