#wedding_service{
  margin-top: 60px;
  @media (max-width:500px) {
    margin-top: 20px;
  }
  .lead{
    @media (max-width:500px) {
      width:59%;
      margin: 0 auto;
      font-size: 15px;
      line-height: 25px;
      color:#333;
      margin: 15px auto 10px;
    }
  }
  .introduce-list{
    overflow: hidden;
    list-style: none;
    margin-left: 35%;
    @media (max-width:991px) {
      margin-left: 25%;
    }
    @media (max-width:500px) {
      margin-left: 3%;
    }
    li{
      width:29%;
      margin:5px 0 20px;
      float: left;
      position: relative;
      padding-left: 15px;
      @media (max-width:991px) {
        width: 35%;
      }
      @media (max-width:767px) {
        width: 45%;
        margin:3px 0 7px;
      }
      &:before{
        content: "";
        position:absolute;
        width: 8px;
        height: 8px;
        background-color: #343434;
        border-radius: 50%;
        left:0;
        top:9px;
      }
      &:nth-child(even){
        width:45%;
      }
      a{
        font-size: 16px;
        color:#343434;
        line-height: 24px;
      }
    }
  }
}