#sprint5_recommend{
  margin-top: 49px;
   @media (max-width: $screen-xs-max) {
    margin-top: 25px;
   }
  @extend #hp_occasions_11;
  .sprint5_recommend_title{
    background-color: #e7e7e7;
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    font-size: 22px;
    color:#343434;
    margin-bottom: 20px;
    letter-spacing: 2px;
    @media (max-width: $screen-xs-max) {
      padding:0 12px;
      font-size: 18px;
      height:38px;
      line-height: 38px;
      margin-bottom: 11px;
    }
  }
}