#micepage_enjoy {
    @media (max-width: $screen-xs-max){
      margin-top: 15px;
    }
    .micepage_enjoy_main {
        margin-top: 25px;
        .row {
            position:relative;
            margin-bottom: 30px;
            @media (max-width: $screen-xs-max){
              margin-top: 16px;
            }
            .img {
                padding-right: 30px;
                @media (max-width: $screen-sm-max){
                   padding-right: 0;
                }
                a{
                    overflow:hidden;
                    display:block;
                }
                img {
                    width: 100%;
                    transition: .3s;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    &:hover{
                        transform:scale(1.1);
                        -webkit-transform:scale(1.1);
                        -moz-transform:scale(1.1);
                        -ms-transform:scale(1.1);
                    }
                }
            }
            .col-lg-9 {
                position: absolute;
                height: 100%;
                right: 0;
                @media (max-width: $screen-sm-max){
                   position:static;
                }
                .detail {
                    display: table;
                    height: 100%;
                    @media (max-width: $screen-md-max) {
                        padding: 16px 12px 0;
                    }
                    .inner {
                        display: table-cell;
                        vertical-align: middle;
                        h4{
                          @media (max-width: $screen-xs-max) {
                            a{
                              font-size: 20px;
                              color:#343434;
                              line-height: 25px;
                            }
                          }
                        }
                        p {
                            margin-top: 12px;
                            font-size: 16px;
                            line-height: 30px;
                            color: #343434;
                            @media (max-width: $screen-xs-max) {
                              font-size: 15px;
                              color:#343434;
                              line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}
