#metting_overview {
    @media (max-width: $screen-sm-max) {
        margin-top: 42px !important;
    }
    @extend #common_introduce;
    .mett_row {
        margin-top: 30px;
    }
    .mett_first {
        position: relative;
        @media (max-width: 1960px) {
            height: 610px;
        }
        @media (max-width: 1720px) {
            height: 560px;
        }
        @media (max-width: 1480px) {
            height: 520px;
        }
        @media (max-width: 1240px) {
            height: 100%;
        }
        @media (max-width: 1000px) {
            height: 100%;
            ;
        }
        .mett_heibox {
            position: absolute;
            height: 100%;
            background-color: #f5f5f5;
            background-position-y: center;
            padding-right: 15px;
            @media (max-width: $screen-sm-max) {
                position: static;
            }
            .mett_img_left {
                // position: absolute; //   width: 30%;
                display: table; // height: 100%;
                // padding-top: 10%;
                box-sizing: border-box;
                text-align: center;
                height: 100%;
                width: 100%;
                .mett_table {
                    display: table-cell;
                    vertical-align: middle;
                    img {
                        width: 60%;
                        height: 40%;
                        vertical-align: middle;
                        @media (max-width: $screen-sm-max) {
                            // height: 100%;
                        }
                    }
                }
            }
        }
        .mett_img_right {
            float: right; //   width: 60%;
            text-align: center;
            padding-left: 15px;
            img {
                max-width: 100%;
                max-height: 432px;
                min-height: 432px;
                @media (max-width: 1960px) {
                    max-height: 460px;
                    min-height: auto;
                    margin-top: 6%;
                }
                @media (max-width: 1720px) {
                    max-height: 460px;
                    min-height: auto;
                    margin-top: 6%;
                }
                @media (max-width: 1480px) {
                    max-height: 432px;
                    min-height: auto;
                    margin-top: 6%;
                }
                @media (max-width: 1240px) {
                    max-height: 405px;
                    min-height: 325px;
                    margin-top: 2%;
                }
                @media (max-width: 1000px) {
                    max-height: 330px;
                    min-height: 100%;
                    margin-top: 0px;
                }
                @media (max-width: 767px) {
                    max-height: 248px;
                    min-height: 100%;
                }
            }
            .mett_double {
                width: 49%;
                height: 100%;
            }
        }
        @media (max-width: $screen-sm-max) {
            .mett_common {
                margin-top: 15px;
                float: none;
                padding-left: 0px;
            }
            .mett_heibox {
                .mett_img_left {
                    position: static;
                    padding: 3% 0;
                    display: block;
                    .mett_table {
                        display: block;
                    }
                    .mett_table {
                        img {
                            width: 35%;
                            height: 80px;
                        }
                    }
                }
            }
            .mett_img_right {}
        }
    }
    .mett_last {
        position: relative;
        padding-bottom: 30px;
        border-bottom: 1px solid #bbbbbb;
        .mett_div_left {
            height: 100%;
            position: absolute;
            box-sizing: border-box;
            text-align: center;
            padding: 3% 18px 0px;
            overflow: hidden;
            @media (max-width: $screen-md-max) {
                padding: 0 10px;
            }
            div {
                font-size: 16px;
                color: #343434;
                span {
                    font-size: 48px;
                    color: #343434;
                    margin-right: 6px;
                }
                p {
                    margin-top: 0px;
                    font-size: 16px;
                    color: #343434;
                }
            }
            ul {
                margin-top: 30px;
                @media (max-width: $screen-sm-max) {
                    margin-top: 13px;
                }
                li {
                    text-align: left;
                    line-height: 30px;
                    font-size: 16px;
                    color: #343434;
                }
            }
        }
        .mett_div_right {
            float: right;
            padding-left: 30px;
            .mett_double_box {
                div {
                    img {
                        // height: 100%;
                        width: 100%;
                    }
                    &:nth-child(1) {
                        padding-right: 15px;
                        width: 50%;
                        img {
                            width: 100%;
                        }
                    }
                    &:nth-child(2) {
                        width: 50%;
                        padding-left: 15px;
                    }
                }
                @media (max-width: $screen-sm-max) {
                    div {
                        width: 50%;
                        &:nth-child(1) {
                            padding-right: 8px;
                            img {
                                width: 100%;
                            }
                        }
                        &:nth-child(2) {
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
        @media (max-width: $screen-sm-max) {
            .mett_div_left {
                position: static;
                div {
                    font-size: 12.5px;
                    span {
                        font-size: 30px;
                    }
                    p {
                        font-size: 13px;
                    }
                }
                ul {
                    li {
                        line-height: 25px;
                        font-size: 12px;
                        letter-spacing: 0.4px;
                    }
                }
            }
            .mett_div_right {
                margin-top: 24px;
                padding: 0 10px;
            }
        }
    }
    div:nth-last-child(2) {
        border: none;
    }
    .mett_bottom_box {
        margin-bottom: 40px;
        .mett_bottom_dot {
            width: 100%;
            height: 1px;
            border: 1px solid #bbbbbb;
            position: relative;
            margin-top: 75px;
            @media (max-width: $screen-sm-max) {
                margin-top: 39px;
                .mett_btn {
                    font-size: 17px;
                    img {
                        margin-right: 9px;
                    }
                }
            }
            .mett_btn {
                position: absolute;
                width: 318px;
                height: 40px;
                border: 1px solid #997644;
                top: -20px;
                left: 50%;
                background-color: #fff;
                text-align: center;
                font-size: 16px;
                color: #997644;
                line-height: 40px;
                margin-left: -159px;
                cursor: pointer;
                img {
                    margin-top: -3px;
                    margin-right: 30px;
                    @media (max-width: $screen-sm-max) {
                        margin-right: 8px;
                        height: 18px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
}