#specialoDPage_information {
    margin-top: 80px;
    .row {
        div {
            h2 {
                font-size: 22px;
                line-height: 30px;
                color: #343434;
                margin-top: 0px;
                margin-bottom: 18px;
            }
            span {
                font-size: 16px; // line-height: 45px;
                color: #343434;
                font-weight: 500;
                
            }
            .spec_first_p {
                height: 35px;
                width: 100%;
                background-color: #f5f5f5;
                text-align: center;
                line-height: 36px;
                font-size: 16px;
                margin-top: 40px;
            }
            ul {
                margin-top: 18px;
                margin-bottom: 0px;
                font-size: 14px;
                line-height: 36px;
                padding-left: 42px;
                .specia_ul_span{
                    margin-left: -20px;
                }
                li {
                    margin-top: 6px;
                    font-size: 14px;
                    line-height: 24px;
                    &:nth-child(2) {
                        margin-top: 0px;
                    }
                }
            }
            .special_box {
                margin-top: 16px;
                span {
                    height: 100%;
                    font-size: 14px;
                    line-height: 36px;
                    display: inline-block;
                    &:nth-child(1) {
                        width: 106px;
                        text-align: right;
                        padding-right: 20px;
                        padding-left: 20px;
                    }
                    &:nth-child(2) {
                        margin-left: 1px;
                        padding-left: 27px;
                    }
                }
            }
            .special_margin {
                margin-top: 0px;
            }
            .special_bgc {
                background-color: #f5f5f5;
            }
            div {
                .spe_h_common {
                    margin-top: 40px;
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 0px;
                }
                p {
                    margin-top: 16px;
                    font-size: 16px;
                    line-height: 24px;
                }
                .spe_Pclear {
                    margin-top: 4px;
                }
                a {
                    display: inline-block;
                    margin-top: 4px;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: underline;
                    color: #997644;
                }
                .spe_h_last {
                    color: #997644;
                    margin-top: 29px;
                    cursor: pointer;
                    span {
                        margin-left: 10px;
                        color: #997644;
                        font-size: 16px;
                    }
                }
            }
            .share {
                text-align: center;
                font-size: 16px;
                position: relative;
                margin-top: 55px;
                a {
                    font-size: 22px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 11px;
                    line-height: 1;
                    color: #343434;
                    span{
                        font-size: 22px;
                    }
                }
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        margin-top: 40px;
        padding: 0 10px;
        .row {
            div {
                h2 {
                    font-size: 17px;
                    line-height: 19px;
                    margin-bottom: 18px;
                    font-weight: 600;
                }
                span {
                    font-size: 15px;
                    line-height: 25px;
                }
                .spec_first_p {
                    margin-top: 30px;
                    height: 40px;
                    font-size: 15px;
                    line-height: 40px;
                    font-weight: 600;
                }
                ul {
                    margin-top: 16px;
                    font-size: 13px;
                    line-height: 25px;
                    padding-left: 20px;
                    
                    .specia_ul_span{
                        margin-left: -15px;
                    }
                    li {
                        font-size: 13px;
                        line-height: 25px;
                        margin-top: 8px;
                        &:nth-child(2) {
                            margin-top: 0px;
                        }
                    }
                }
                .special_box {
                    margin-top: 14px;
                    span {
                        font-size: 13px;
                        line-height: 39px;
                        height: 39px;
                        &:nth-child(1) {
                            width: 84px;
                            padding-right: 13px;
                            padding-left: 0px;
                        }
                        &:nth-child(2) {
                            margin-left: 1px;
                            padding-left: 11px;
                        }
                    }
                }
                div {
                    .spe_h_common {
                        font-size: 18px;
                        line-height: 19px;
                        margin-top: 30px;
                        font-weight: 700;
                    }
                    p {
                        margin-top: 20px;
                        font-size: 13px;
                        line-height: 20px;
                    }
                    .spe_Pclear {
                        margin-top: 8px;
                    }
                    a {
                        font-size: 12px;
                        line-height: 12px;
                        margin-top: 18px;
                    }
                    .spe_h_last {
                        margin-top: 31px;
                        font-size: 17px;
                        line-height: 16px;
                    }
                    
                }
                .share{
                        margin-top: 20px;
                        font-size: 12px;
                        line-height: 12px;
                        a{
                            font-size: 12px;
                            line-height: 12px;
                            margin-top: 0px;
                            span{
                                font-size: 16px;
                                line-height: 16px;
                            }
                        }
                    }
            }
        }
    }
}